<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="299" id="com.lyco.merolyco" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Merolyco</name>
    <description>
       Merolyco
    </description>
    <author email="dev@n4ymedio.mx" href="n4ymedio.mx">
        RLM
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="target-device" value="handset" />
    <preference name="BackgroundColor" value="0x0000" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />

    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="cordova-plugin-file-transfer" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />

    
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <config-file parent="UIStatusBarHidden" platform="ios">
        <true />
    </config-file>
    <config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios">
        <false />
    </config-file>

    <preference name="SplashScreenDelay" value="0" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenBackgroundColor" value="0xffff" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
    <splash src="splash.png" />
    <icon src="icon.png"/>

    <preference name="BackupWebStorage" value="local" />

    <icon height="57" platform="ios" src="iconIOS.png" width="57" />
    <icon height="120" platform="ios" src="iconIOS2.png" width="120" />


    <!-- iPhone 6 / 6+ -->
    <icon src="icon-60@3x.png" platform="ios" width="180" height="180" />

    <icon src="icon-58.png" platform="ios" width="58" height="58" />
    <icon src="icon-87.png" platform="ios" width="87" height="87" />


    <!-- iPad Spotlight and Settings Icon -->
    <icon src="icon-50.png" platform="ios" width="50" height="50" />
    <icon src="icon-50@2x.png" platform="ios" width="100" height="100" />

    <!-- iPad pRO -->
    <icon src="icon-76.png" platform="ios" width="76" height="76" />
    <icon src="icon-76@2x.png" platform="ios" width="152" height="152" />
    <icon src="icon-83.5@2x.png" platform="ios" width="167" height="167" />

    <!-- iPad -->
    <icon src="icon-72.png" platform="ios" width="72" height="72" />
    <icon src="icon-72@2x.png" platform="ios" width="144" height="144" />


    <splash height="480" platform="ios" src="Default.png" width="320" />
    <splash height="960" platform="ios" src="Default@2x.png" width="640" />
    <splash height="1136" platform="ios" src="Default-568h@2x.png" width="640" />
    <splash height="1334" platform="ios" src="Default-667h@2x.png" width="750" />
    <splash height="2208" platform="ios" src="Default-Portrait-736h@3x.png" width="1242" />
    <splash height="1242" platform="ios" src="Default-Landscape-736h@3x.png" width="2208" />
    <splash height="1024" platform="ios" src="Default-Portrait.png" width="768" />
    <splash height="768" platform="ios" src="Default-Landscape.png" width="1024" />
    <splash height="2048" platform="ios" src="Default-Portrait@2x.png" width="1536" />
    <splash height="1536" platform="ios" src="Default-Landscape@2x.png" width="2048" />
    
    
    <allow-navigation href="*" />
    <preference name="EnableViewportScale" value="false" />

    <access launch-external="yes" origin="geo:*" />
    <access launch-external="yes" origin="google.navigation:*" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="wss://*/*" />
    <allow-navigation href="data:*" />
    
</widget>
